= form_for :forum_topic, :url => forum_forum_topics_path(@forum) do |f|
  %div{:class => "row_complete_for_forum"}
    = f.label "Title", :class => "label_margin"
    = f.text_field :title, :title => "Title", :class => "big_text_field", :wrap_class => :row_complete_for_forum
    = f.hidden_field :forum_id
    = f.hidden_field :owner_id, :value => @p.id
  %button.buttons{:type => "submit"}
    = image_tag('save.png')
