= form_for @message, :url => profile_messages_path(@profile) do |f|
  %br/
  %div
    = f.select :receiver_id, @to_list.map{|p| [full_name(p), p.id]}
    = f.hidden_field :sender_id, :value => current_user.profile.id
  %div
    = f.label :Subject
    %br/
    = f.text_field :subject
  %div
    = f.label :Body
    %br/
    = f.text_area :body
  %div
  %br
    = f.submit "Send message"
   
