- sent = params[:action]=='sent_messages'
- new = params[:action] == 'new'
- inbox = params[:action] == "index"
%h2.widget_lrg_title
  .message_header_links
    = raw inbox ? "Inbox" : "#{link_to "Inbox", profile_messages_path(@p)}"
    %span.grey
    |
    = raw sent ? "Sent" : "#{link_to "Sent", sent_messages_profile_messages_path(@p)}"
    %span.grey
    |
    = raw new ? "New Message" : "#{link_to "New Message", new_profile_message_path(@p)}"