.widget_large
  %span.widget_lrg_top
  = render :partial => 'messages/header_links'
  = form_for :message, :url => delete_messages_profile_messages_path(@p), :html => {:id => "message_list"} do |f|
    - @receive_messages.each do |message|
      - profile = Profile.find(message.sender_id)
      %div{:class => "comments"}
        %input.left{:id => message.id, :name => "check[]", :type => "checkbox", :value => message.id}
        - if !message.system_message
          = link_to image_tag(set_icon(profile,'small')), profile, {:class => "featured_mem_pic"}, {:class => "featured_mem_text"}        
          = link_to profile.full_name,  profile, :class=>"messagebox_profilename_unread"
        - else
          %span.messagebox_profilename_unread
          = MAILER_TO_ADDRESS
        %span.messagebox_date
          = time_ago_in_words message.created_at
          ago
        .messagebox_subject= link_to message.subject, profile_message_path(@profile, message)
        .messagebox_message_preview
          = message.body.html_safe
      = link_to image_tag('delete.png', :class => 'delete') ,profile_message_path(@profile, message), :method => :delete
    = link_to image_tag("select_all.png"), '#', :confirm => 'Are You Sure', :class => "select_all"
    %button.buttons{:type => "submit"}
      = image_tag("delete-selected.png")
  .clear_div
    = will_paginate @receive_messages
  %span.widget_lrg_btm