= render :partial => 'messages/header_links'
- @sent_messages.each do |message|
  %table
    %tr
      %th
        = message.subject
      %td
        = message.body
      %td
      %td
        = link_to "Read", profile_message_path(@profile, message)
      %td
        = link_to "delete" ,profile_message_path(@profile, message), :method => :delete