- sent_messages ||= @sent_messages
.widget_large
  %span.widget_lrg_top
  = render :partial => 'messages/header_links'
  - if sent_messages.empty?
    .comments No Message
  - else
    - form_for :message, :url => delete_messages_profile_messages_path(@p), :html => {:id => "message_list"} do |f|
      - @sent_messages.each do |message|
        - profile = Profile.find(message.receiver_id)
        %div{:class => "comments"}
          %input.left{:id => message.id, :name => "check[]", :type => "checkbox", :value => message.id}
          = link_to image_tag(set_icon(profile,'small')), profile, {:class => "featured_mem_pic"}, {:class => "featured_mem_text"}
          = link_to profile.full_name, profile
          %br
          = time_ago_in_words message.created_at
          ago
          .messagebox_subject= link_to message.subject, profile_message_path(@profile, message)
          .messagebox_message_preview
            = message.body
        = link_to image_tag('delete.png', :class => 'delete'), profile_message_path(@profile, message), :method => :delete
      = link_to image_tag("select_all.png"), '#',:class => "select_all"
      %button.buttons{:type => "submit"}
        = image_tag("delete-selected.png")
    .clear_div
  %span.widget_lrg_btm