- profile ||= @profile
= rounded_corner(:size => :small, :title => 'Profile') do
  .profile_div
    = image_tag(set_icon(profile, 'big'))
    %h2= h profile.f(18, :is_long => true)
    .profile_links
      %strong Location:
      = location_link profile
      - if me
        .profile_links
          = link_to "Send Invites", new_profile_invitation_path(@p)