= rounded_med_corner(:id => "change_email", :title => "Email") do
  = semantic_form_for @p do |f|
    = f.semantic_fields_for(:user) do |u|
      = u.label "Current Email"
      %br
      = @p.email
      %br
      = u.input :requested_new_email
    = f.commit_button "Change Email"