= rounded_med_corner(:id => "contact_info", :title => "Contact Info") do
  = f.inputs do
    = f.input :location, :as => :string, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :address_line1, :as => :string, :label => "Address Line1", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :address_line2, :as => :string, :label => "Address Line2", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :city, :as => :string, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :postal_code, :as => :string, :label => "Postal Code", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :country, :priority_countries =>['India'],:required => true, :as => :country, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :state, :as => :select, :collection => INDIA_STATES, :prompt => false, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :landline, :as => :string, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :mobile, :as => :string, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}