= rounded_med_corner(:id => "contact_info", :title => "Contact Info") do
  = f.inputs do
    = f.input :location, formtastic_zebra
    = f.input :address_line1, formtastic_zebra
    = f.input :address_line2,  formtastic_zebra
    = f.input :city,  formtastic_zebra
    = f.input :postal_code,  formtastic_zebra
    = f.input :country,  formtastic_zebra(:as => :country, :priority_countries =>['India'])
    = f.input :state,  formtastic_zebra(:as => :select, :collection => INDIA_STATES, :prompt => false)
    = f.input :landline, formtastic_zebra
    = f.input :mobile, formtastic_zebra