= semantic_form_for @profile do |a|
  = rounded_med_corner(:id => "set_default_permission", :title => "Default Permission") do
    = a.input :default_permission, :as => :select, :collection => Permission::DEFAULT_PERMISSIONS, :label => "Default Permission", :prompt => false, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
  %button.buttons{:type => "submit"}
    = image_tag('set-default.png')
  = hidden_field_tag "commit", value="Set Default"

