%h2 Education Info
= semantic_form_for(@profile) do |form|
  - if @profile.educations.blank?
    - @profile.educations.build
  = form.semantic_fields_for(:educations) do |builder|
    = render "education_fields", :f => builder
  %p
    = link_to_add_fields("Add More work", form , :educations)
    = form.commit_button "Update"
