- rounded_med_corner(:title => "Education", :id => "education_information") do
  = semantic_form_for(@profile) do |form|
    - if @profile.educations.blank?
      - @profile.educations.build
    = form.semantic_fields_for(:educations) do |builder|
      = render "education_fields", :f => builder
    .row_dark2
      = link_to_add_fields(image_tag('add-button.png'), form , :educations)
      = form.commit_button "Update"
 
