- rounded_med_corner(:id => 'general_info', :title => 'General Info') do
  = semantic_form_for @profile do |f|
    = f.semantic_fields_for(:user) do |u|
      = u.inputs do
        = u.input :login, :as => :string, :value => current_user.login, :wrap_class => cycle(:row_light2, :row_dark2)
      = f.inputs do
        = f.input :title, :as => :select, :collection => TITLE, :include_blank => true, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :first_name, :as => :string, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :middle_name, :as => :string, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :last_name, :as => :string, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :maiden_name, :as => :string, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :gender, :as => :select, :collection => SEX, :include_blank => true, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :group, :collection => GROUPS, :include_blank => true, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :blood_group, :as => :select, :collection => BLOOD_GROUP, :include_blank => true, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :house_name, :as => :select, :collection => HOUSE_NAME, :include_blank => true, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :date_of_birth, :input_html => {:class => "datebalks" }
        = f.input :relationship_status, :as => :select, :collection => RELATIONSHIP_STATUS, :include_blank => true, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :anniversary_date, :input_html => {:class => "datebalks" }, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :spouse_name, :as => :string, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :professional_qualification, :as => :string
        = f.input :about_me,  :as => :text, :input_html => { :rows => 3 }, :wrap_class => cycle(:row_light2, :row_dark2)
        = f.input :activities, :as => :text, :input_html => { :rows => 3 }, :label => "activities", :wrap_class => cycle(:row_light2, :row_dark2)
        = f.commit_button :label => "Update"