= rounded_med_corner(:id => "notifications", :title => "Notifications") do
  = semantic_form_for @profile do |a|
    = a.semantic_fields_for :notification_control do |p|
      %table{:name => "notification_table"}
        %tr
          %td Notification
          %td Email Notification
          %td Message Notification
        - NotificationControl::NOTIFICATION_FIELDS.each do |x|
          %tr
            %td= p.label x
            %td= p.check_box(x,{:multiple => true, :checked => p.object.wants_email?(x)},NotificationControl::EMAIL_BIT,0)
            %td= p.check_box(x,{:multiple => true, :checked => p.object.wants_interenal_message?(x)},NotificationControl::INTERNAL_MESSAGE_BIT,0)
      = a.commit_button 'Update Notification'
