- if !@profile.status_message.blank? || me(@profile)
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('display_status','Status')
    .middle_panel_profile
      #display_status
        .slidecontent
          - if me
            = render 'profiles/set_status'
          - else
            = @profile.status_message
    %span.widget_lrg_btm
.widget_large
  %span.widget_lrg_top
  = slide_up_down_header('personal_info','Personal Info')
  .middle_panel_profile
    #personal_info{:style => "display:none;"}
      .slidecontent
        = render 'profiles/personal'
  %span.widget_lrg_btm
- if @profile.can_see_field("work_informations", @p)
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('work_info','Work Info')
    .middle_panel_profile
      #work_info{:style => "display:none;align:left;"}
        .slidecontent
          = render 'profiles/work' if !@profile.works.blank?
    %span.widget_lrg_btm
- if @profile.can_see_field("educations", @p)
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('education_info','Education Info')
    .middle_panel_profile
      #education_info{:style => "display:none;"}
        .slidecontent
          = render 'profiles/education' if !@profile.educations.blank?
    %span.widget_lrg_btm
= render :partial => 'profiles/recent_activity'
- cache "profile_#{@profile.id}/profile_page_blogs" do
  = render :partial => 'blogs/list'
= render :partial => 'polls/list'
= render :partial => 'forum_posts/list'
= render 'comments/comment_list'
- if !@friends.blank?
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('google_map','Google Map')
    .middle_panel_profile
      #google_map
        .slidecontent
          = raw GMap.header()
          = javascript_include_tag("markerGroup")
          - show_map()
          = raw @map.to_html
          = raw @map.div(:width => 530, :height => 400)
    %span.widget_lrg_btm