- if !@profile.status_message.blank? || me(@profile)
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('display_status','Status','sliding')
    .middle_panel_profile
      .slidecontent
        %h2
          - if me
            = semantic_form_for @profile do |form|
              = render 'set_status', :f => form
          - else
            = @profile.status_message
    %span.widget_lrg_btm
.widget_large
  %span.widget_lrg_top
  = slide_up_down_header('personal_info','Personal Info','sliding')
  .middle_panel_profile
    .slidecontent.hide_info
      = render 'personal'
  %span.widget_lrg_btm
- if @profile.can_see_field("work_informations", @p)
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('work_info','Work Info','sliding')
    .middle_panel_profile
      .slidecontent.hide_info
        = render 'work' if !@profile.works.blank?
    %span.widget_lrg_btm
- if @profile.can_see_field("educations", @p)
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('education_info','Education Info','sliding')
    .middle_panel_profile
      .slidecontent.hide_info
        = render 'education' if !@profile.educations.blank?
    %span.widget_lrg_btm
= render 'recent_activity'
= render 'blogs/list'
= render 'polls/list'
= render 'forum_posts/list'
= render 'comments/comment_list', :with_form => true, :with_wall_to_wall => true
- if !@friends.blank?
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('google_map','Google Map','sliding')
    .middle_panel_profile
      .slidecontent
        = raw GMap.header()
        = javascript_include_tag("markerGroup")
        - show_map()
        = raw @map.to_html
        = raw @map.div(:width => 530, :height => 400)
    %span.widget_lrg_btm