= semantic_form_for @profile do |f|
  .large_panel_side
    = rounded_med_corner(:title => "Status", :id => "status", :click => true) do
      .in-place-edit
        = f.input :status_message, :label => "status"
        %button.buttons{:type => "submit"}
          = image_tag('Update.png')
        %button.buttons{:type => "submit"}
          = image_tag('cancel-button.png')