- rounded_med_corner(:id => "address_details", :title => "Web Info") do
  = semantic_form_for @profile do |f|
    = f.inputs do
      = f.input :website, :as => :string
      = f.input :blog, :as => :string
      = f.input :flicker_username,:as => :string
      = f.input :linkedin_name, :label => "LinkedIn Public URL",:as => :string
      = f.input :twitter_username, :as => :string
      = f.input :aim_name, :label => "AIM",:as => :string
      = f.input :msn_username, :label => "MSN",:as => :string
      = f.input :yahoo_name,:label => "Yahoo UserId", :as => :string
      = f.input :gtalk_name, :as => :string
      = f.input :skype_name, :as => :string
      = f.input :delicious_name, :label => "delicious name", :as => :string
    = f.commit_button :label => "Update"


 