%h2 Web Info
= semantic_form_for @profile do |f|
  = f.inputs do
    = f.input :website, :as => :string
    = f.input :blog, :as => :string
    = f.input :flicker_id,:as => :string
    = f.input :linkedin_id, :label => "LinkedIn Public URL",:as => :string
    = f.input :twitter_id, :as => :string
    = f.input :aim_id, :label => "AIM",:as => :string
    = f.input :msn_id, :label => "MSN",:as => :string
    = f.input :yahoo_id,:label => "Yahoo UserId", :as => :string
    = f.input :gtalk_id, :as => :string
    = f.input :skype_id, :as => :string
    = f.input :delicious_id, :label => "delicious name", :as => :string
  = f.commit_button :label => "Update"


 