= f.inputs do
  = f.input :website, formtastic_zebra(:input_html  => {:class => "web_info"})
  = f.input :blog, formtastic_zebra(:input_html  => {:class => "web_info"})
  = f.input :flicker_username, formtastic_zebra(:input_html => {:class => "flickr_icon"})
  = f.input :linkedin_name, formtastic_zebra(:input_html => {:class => "linkedin_icon"})
  = f.input :twitter_username, formtastic_zebra(:input_html => {:class => "twitter_icon "})
  = f.input :aim_name, formtastic_zebra(:input_html => {:class => "aim_icon"})
  = f.input :msn_username, formtastic_zebra(:input_html => {:class => "msn_icon"})
  = f.input :yahoo_name, formtastic_zebra(:input_html => {:class => "yahoo_icon"})
  = f.input :gtalk_name, formtastic_zebra(:input_html => {:class => "gtalk_icon"})
  = f.input :skype_name, formtastic_zebra(:input_html => {:class => "skype_icon"})
  = f.input :delicious_name, formtastic_zebra(:input_html => {:class => "delicious_icon"})