.fields
  = f.input :occupation, formtastic_zebra
  = f.input :industry, formtastic_zebra
  = f.input :company_name, formtastic_zebra
  = f.input :company_website, formtastic_zebra
  = f.input :job_description, :as => :text, :wrapper_html => {:class => "row_light_large2"}
  %div{:class => zebra}
    = link_to_remove_fields(image_tag("remove.png"), f)