.fields
  = f.inputs do
    = f.input :occupation
    = f.input :industry
    = f.input :company_name, :label => "Company Name"
    = f.input :company_website, :label => "Company Website"
    = f.input :job_description, :as => :text, :label => "Job Description"
    %div{:class => cycle(:row_light2, :row_dark2)}
      = link_to_remove_fields(image_tag("remove.png"), f)