.fields
  = f.inputs do
    = f.input :occupation
    = f.input :industry
    = f.input :company_name
    = f.input :company_website
    = f.input :job_description, :as => :text, :input_html => { :columns => 5, :rows => 5 }
  = link_to_remove_fields "remove", f