%table.middle_panel_profile{:width => "540px"}
  %tr{:align => "left", :valign => "top"}
    %th Company Name
    %th Industry
    %th Occupation
    %th Job Description
    %th Company Website
  -@works.each do |x|
    %tr
      %td= x.company_name
      %td= x.industry
      %td= x.occupation
      %td= x.job_description
      %td= link_to x.company_website, x.company_website if x.company_website