.fields
  = f.inputs do
    = f.input :occupation, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :industry, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :company_name, :label => "Company Name", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :company_website, :label => "Company Website", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.input :job_description, :as => :text, :label => "Job Description"
    %div{:class => cycle(:row_light2, :row_dark2)}
      = link_to_remove_fields(image_tag("remove.png"), f)