= rounded_corner(:title => "#{@profiles && @profiles.total_entries} Known Site users from #{@group}") do
  - unless @profiles.blank?
    = render :partial  => "shared/mini_profile", :collection => @profiles
  - else
    %span.comments= "Not Found"
  .clear_div
  = will_paginate @profiles
= rounded_corner(:title => "#{@students && @students.length} Unregistered Students from #{@group}") do
  - unless @students.blank?
    %ul#student_check_list
      - for student in @students
        %li= student.full_name
  - else
    %span.comments= "Not Found"