%hr
<center> <h2> Edit Profile </h2> </center>
%hr
= image_tag(@profile.avatar.url(:thumb))
%hr
= render "profiles/set_status"
%hr
= render "profiles/general_info"
%hr
= render "profiles/contact_info"
%hr
= render "profiles/google_map"
%hr
= render "profiles/web_info"
%hr
= render "profiles/education_info"
%hr
= render "profiles/work_info"
%hr
= render "profiles/upload_icon"
%hr
