.flash_message_class= formatted_error_message :profile,:user
%h2.edit_profile Edit Account
.large_panel_side
  = render :partial => "set_permissions"
  = rounded_med_corner(:title => "Connect With...") do
    = link_to image_tag('twitter_64.png'), "/auth/twitter"
    = link_to image_tag('facebook_64.png'), "/auth/facebook"
    = link_to image_tag('linkedin_64.png'), "/auth/linked_in"
.large_panel_side
  = render :partial => "notification"
  = render :partial => "users/change_password"
  = render :partial => "profiles/change_email"
  = render :partial => "profiles/default_permission"

