%h2.edit_profile Edit Account
.large_panel_side
  = render 'set_permissions'
  = rounded_med_corner(:title => "Connect With...") do
    = link_to image_tag('twitter_64.png', :title => "Connect With Twitter"), "/auth/twitter"
    = link_to image_tag('facebook_64.png', :title => "Connect With Facebook"), "/auth/facebook"
    = link_to image_tag('linkedin_64.png', :title => "Connect With LinkedIn"), "/auth/linked_in"
    = link_to image_tag('yahoo_64.png', :title => "Connect With Yahoo"), "/auth/yahoo"
    = link_to image_tag('google_64.png', :title => "Connect With Google"), "/auth/google_apps"
.large_panel_side
  = render 'notification'
  = render 'users/change_password'
  = render 'change_email'
  = render 'default_permission'

