.flash_message_class= formatted_error_message :profile,:user
%h2.edit_profile Edit Profile
= render "profiles/set_status"
.large_panel_side
  = render "profiles/general_info"
  = render "profiles/contact_info"
  =# render "profiles/google_map"
.large_panel_side
  = render "profiles/web_info"
  = render "profiles/education_info"
  = render "profiles/work_info"
  = render "profiles/upload_icon"
.clear_div
  .large_btn_container
    %button.buttons{:type => "submit"}
      = image_tag('Update.png')
