%h2.edit_profile Edit Account
.large_panel_side
  = render :partial => "set_permissions"
.large_panel_side
  = render :partial => "notification"
  = render :partial => "users/change_password"
  = render :partial => "profiles/change_email"
  = render :partial => "profiles/default_permission"

