= render :partial => "profiles/set_permissions"
= render :partial => "profiles/notification"
= render :partial => "users/change_password"
= render :partial => "profiles/change_email"
= render :partial => "profiles/default_permission"

