%h2 Mansinghites'Alumni Association
%p
= link_to gravatar_image_tag(current_user.email, :gravatar => { :size => 50 }), profile_path(current_user)
= [ current_user.first_name, current_user.middle_name, current_user.last_name ].join(" ")
= render 'set_status'
= render 'homes/personal_info' 
= render 'homes/work_info' if !@profile.works.blank?
= render 'homes/education_info' if !@profile.educations.blank?