= link_to gravatar_image_tag(@user.email, :gravatar => { :size => 50 }), profile_path(@user)
= @profile.full_name(:length => 18)
=# render 'set_status'
= render 'profiles/personal'
= render 'profiles/work' if !@profile.works.blank?
= render 'profiles/education' if !@profile.educations.blank?