= form_for @forum do |f|
  %div{:class => "row_complete_for_forum"}
    = f.label "Name", :class => "label_margin"
    = f.text_field :name, :title => "Title", :class => "big_text_field", :wrap_class => :row_complete_for_forum
  %div{:class => "row_complete_large_for_forum"}
    = f.label "Description", :class => "label_margin"
    = f.text_area :description, :class => "big_text_area_for_forum", :wrap_class => :row_complete_large_for_forum
  %button.buttons{:type => "submit"}
    = image_tag('save.png')
