.forum_links
  = link_to "Back to Forums", forums_path
.widget_complete
  %span.widget_complete_top
  %h3.forum_head
    .froum_page_title= sanitize(@forum.name)
    - if @is_admin
      = link_to image_tag('edit.png', :title => "Edit forum"),edit_forum_path(@forum)
      = link_to image_tag('delete.png', :title => "Delete forum"),forum_path(@forum),:method => :delete                                         |
  .forum_text= @forum.description
  .clear_div
  %span.widget_complete_btm
.new_toipc_button.buttons
  = link_to(image_tag('new-topic.png', :title => "New Topic"),new_forum_forum_topic_path(@forum),:title => "Start a new topic")
- if @forum.topics.blank?
  = render :partial => 'forum_topics/form', :locals => {:title => "New Forum Topic"}
- else
  .widget_complete
    %span.widget_complete_top
    %h3.forum_head
    Topics
    %span.topic_starter Topic Starter
    %span.posts Posts
    %span.last_post Last Post
    = render @forum.topics
    %span.widget_complete_btm
