= form_for(@blog) do |f|
  %br/
  %div
    = f.label :title
    %br/
    = f.text_field :title
  %div
    = f.label :Body
    %br/
    = f.text_area :body,  :class => "mceEditor"
  %div
  %br
    = f.label :Tags
    = f.text_field :tag_list
  %div
  %br
    = f.submit
    = submit_tag 'Preview', :name => 'preview_button'
