- profile ||= @profile
- size ||= 10
- blogs ||= profile.blogs.limit(size).all
- total = profile.blogs.count
- title = "Most Recent Blog Posts (latest " +blogs.count.to_s + " of " + "#{total > size ? link_to( total, profile_blogs_path(profile)) : total} )"
- unless blogs.empty?
  .widget_large
    %span.widget_lrg_top
    = slide_up_down_header('blogs_info', title.html_safe, 'sliding')
    .slidecontent
      - blogs.each do |b|
        .comments
          = image_tag("blog.gif")
          = link_to b.title, profile_blog_path(@profile, b)
          posted at #{b.updated_at.to_datetime.to_formatted_s(:rfc822)}
    %span.widget_lrg_btm
