%h1 Listing Blogs
- @blogs.each do |blog|
  -profile = blog.profile
  %table
  %tr
    %td= blog.title
    %td{:align => "right", :width => "100px"}
      = link_to image_tag('edit.png', :border =>0), edit_profile_blog_path(profile, blog) if current_user.profile==profile
      = link_to image_tag('delete.png',:border =>0), profile_blog_path(profile, blog), :method => :delete if current_user.profile==profile
  %tr
    %td{:colspan => "2"}= blog.body.html_safe
    = link_to image_tag('add_comment.png',:border =>0), '#', :onclick => "add_comment(#{blog.id})"
    = link_to "#{blog.comments_count} Comments", '#', :onclick => "show_comment('#{blog.id}')"
    %div{:id => "show"+blog.id.to_s,:style => "display: none;"}
      = render 'comments/show_comments', :commt => blog
    %div{:id => "form"+blog.id.to_s,:style => "display: none;"}
      = render 'comments/form', :commt => blog
    %hr
  %br/

  = link_to 'New blog', new_profile_blog_path(profile) if current_user.profile==profile
=# render 'blogs/tag_clouds'
= #render 'blogs/archives'
= will_paginate @blogs