%h1 Listing Blogs
- @blog.each do |blog|
  %table
  %tr
    %td= blog.title
    %td{:align => "right", :width => "100px"}
      = link_to image_tag('edit.png', :border =>0), edit_blog_path(blog)
      = link_to image_tag('delete.png',:border =>0), blog, :method => :delete
      = link_to image_tag('add_comment.png',:border =>0), '#',:onclick => "add_comment()"
      #comment{:style => "display: none;"}
        =render 'comments/form', :blog => blog
      #comments
        Hello
        
  %tr
    %td{:colspan => "2"}= blog.body.html_safe
%br/

= link_to 'New blog', new_blog_path
= render 'blogs/tag_clouds'
= render 'blogs/archives'
= will_paginate @blog