.widget_complete
  %span.widget_complete_top
  %h3.blog_head.event_head_width Student Checks
  - BATCH_RANGE.each do |b|
    = link_to(b, student_checks_path(:year => b).to_param)
  = link_to("All", student_checks_path(:all => "all").to_param)
  %br
  %br
  - unless @student_checks.blank?
    - StudentCheck.alpha_index.each do |i|
      = link_to(i, "##{i}_div")
  %br
  %br
  = link_to image_tag("user_add.png", :title => 'New Student Check', :alt => 'New Student Check'), new_student_check_path         
  = link_to image_tag("lightning_go.png", :title => 'Send Invite to All', :alt => 'Send Invite to All'), send_bulk_invite_student_checks_path, :method => :post, :confirm => 'Send email to ALL?'
  %table
    %tr
      %th Name
      %th Year
      %th Profile
      %th Delete
      %th Invite
    - @student_checks.try(:each) do |student_check|
      %tr{:id=> "#{student_check.first_name[0].chr.upcase}_div"}
        %td= link_to student_check.full_name, edit_student_check_path(student_check)
        %td= h student_check.year
        - if student_check.profile
          %td
            = link_to(image_tag("user_orange.png", :title => student_check.profile.full_name, :alt => student_check.profile.full_name), profile_path(student_check.profile))
        - else
          %td
          %td
            = link_to image_tag("cross.png", :title => 'Delete', :alt => 'Delete'), student_check_path(student_check), :method => :delete, :confirm => 'Are you sure?'
          %td
            = link_to image_tag("email_go.png", :title => 'Invite', :alt => 'Invite'), send_invite_student_check_path(student_check),:method => :post,:confirm => 'Send Invitation email?' unless  student_check.emails.blank?
  %span.widget_complete_btm