= f.inputs do
  = f.input :title, :input_html => {:class => "big_text_field"}
  = f.input :place, :input_html => {:class => "big_text_field"}
  = f.input :start_date, :as => :string, :input_html => {:class => "big_text_field datetime"}
  = f.input :end_date, :as => :string, :input_html => {:class => "big_text_field datetime"}
  = f.input :description, :as => :text, :input_html => {:class => "big_text_area"}
