= f.label :title
= f.text_field :title
= f.label :place
= f.text_field :place
= f.label :start_date
= f.date_select :start_date
= f.label :end_date
= f.date_select :end_date
= f.label :description
= f.text_area :description
