- pe = ProfileEvent.find(:first,:conditions => {:event_id => event.id,:profile_id => @p.id})
- role = pe.role if pe
- status ||= 'show_page'
%form
  %div{:id => "rsvp_#{event.id}"}
    %div
      = radio_button_tag "event","Attending", checked = checked?(pe, 'Attending')
      Attending
      %br
      = radio_button_tag "event","Not Attending", checked = checked?(pe, 'Not Attending')
      Not Attending
      %br
      = radio_button_tag "event","May Be Attending", checked = checked?(pe, 'May Be Attending')
      May Be Attending
%div{:class => "spinner",:id => "spinner_#{event.id}", :style => "display: none;"}= image_tag('spinner.gif')

  