- pe = event.role_of_user(@p)
- role = pe.role if pe
- status ||= 'show_page'
%div[event]
  = radio_button_tag "event_#{event.id}", "Attending", checked = checked?(role, 'Attending'), options = {:class => "rsvp_event", :url=>"#{rsvp_admin_event_path(event)}"}
  Attending
  %br
  = radio_button_tag "event_#{event.id}", "Not Attending", checked = checked?(role, 'Not Attending'), options = {:class => "rsvp_event", :url=>"#{rsvp_admin_event_path(event)}"}
  Not Attending
  %br
  = radio_button_tag "event_#{event.id}", "May Be Attending", checked = checked?(role, 'May Be Attending'), options = {:class => "rsvp_event", :url=>"#{rsvp_admin_event_path(event)}"}
  May Be Attending
  .spinner= image_tag('spinner.gif')

  