- pe = ProfileEvent.find(:first,:conditions => {:event_id => event.id,:profile_id => @p.id})
- role = pe.role if pe
- status ||= 'show_page'
%form
  %div{:id => "rsvp_#{event.id}"}
    %div
      = radio_button_tag "event","Attending", checked = checked?(role, 'Attending'), options = {:onclick => "event_change(#{event.id})"}
      Attending
      %br
      = radio_button_tag "event","Not Attending", checked = checked?(role, 'Not Attending'), options = {:onclick => "event_change(#{event.id})"}
      Not Attending
      %br
      = radio_button_tag "event","May Be Attending", checked = checked?(role, 'May Be Attending'), options = {:onclick => "event_change(#{event.id})"}
      May Be Attending
%div{:class => "spinner",:id => "spinner_#{event.id}", :style => "display: none;"}= image_tag('spinner.gif')

  