%h1 Listing Events
- @events.each do |event|
  %table
  %tr
    %td= event.title
    %td{:align => "right", :width => "100px"}
      = link_to image_tag('edit.png', :border =>0), edit_admin_event_path(event)
      = link_to image_tag('delete.png',:border =>0), admin_event_path(event), :method => :delete
  %tr
    %td= event.start_date
    %td= event.end_date
  %tr
    %te= event.place
  %tr
    %td{:colspan => "2"}= event.description.html_safe
    = link_to image_tag('add_comment.png',:border =>0), '#', :onclick => "add_comment(#{event.id})"
    = link_to "#{event.comments_count} Comments", '#', :onclick => "show_comment('#{event.id}')"
    %div{:id => "show"+event.id.to_s,:style => "display: none;"}
      = render 'comments/show_comments', :comment_on => event
    %div{:id => "form"+event.id.to_s,:style => "display: none;"}
      = render 'comments/form', :comment_on => event
    %hr
%br/

= link_to 'New Event', new_admin_event_path
=# will_paginate @blogs