%h2 Sign up
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.inputs do
    = f.input :login_name
    = f.input :email
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
    = f.input :first_name
    = f.input :middle_name
    = f.input :last_name
    = f.input :maiden_last_name
    = f.input :gender, :as => :select, :collection => User::SEX, :prompt => false
    = f.input :groups, :as => :select, :collection => User::GROUP, :prompt => false
    = f.commit_button :label => "Sign Up"
  = render :partial => "devise/shared/links"