%h2 Sign up
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  =f.inputs do
    = f.input :login_name, :as => :string
    = f.input :email, :as => :string
    = f.input :password, :as => :password
    = f.input :password_confirmation, :as => :password
    = f.input :first_name, :as => :string
    = f.input :middle_name, :as => :string
    = f.input :last_name, :as => :string
    = f.input :maiden_last_name, :as => :string
    = f.input :gender, :as => :select, :collection => User::SEX, :prompt => false
    = f.input :groups, :as => :select, :collection => User::GROUP, :prompt => false
    = f.commit_button :label => "Sign Up"
  = render :partial => "devise/shared/links"