= form_for(Comment.new) do |c|
  = c.text_area :comment
  = c.hidden_field :commentable_id, :value => blog.id
  = c.hidden_field :commentable_type, :value => blog.class.name
  = c.submit
  %input#cancel{:type => "button", :value => "Cancel"}