.comment_form
  = form_for [@p,commentable.comments.build] do |c|
    = c.text_area :comment, :class=> "textarea"
    = c.hidden_field :commentable_id
    = c.hidden_field :commentable_type
    .comment_btn_container
      %button.buttons{:type => "submit"}
        = image_tag("add-comment.png")
      - if show_form_cancel?(commentable)
        %button.buttons.comment-form-cancel= image_tag("cancel-button.png")
