-@comment = Comment.find(:all, :conditions => { :commentable_id => commt.id, :commentable_type => commt.class.name})
-@comment.each do |c|
  .comments
    = link_to image_tag(set_icon(c.profile,'small')), c.profile
    %strong
      = link_to (c.profile.full_name), c.profile
      commented
      #{time_ago_in_words c.created_at} ago
    = link_to image_tag('delete.png',:border =>0), c , :method => :delete
    .comment_text
      = c.comment
    