- type ||= 'Friends'
- size ||= 10
- total = list.count
.widget_large
  %span.widget_lrg_top
  = slide_up_down_header('show',type,"#{type}")
  %div{:id =>"#{type}_info"}
    %div{:id => type}
      - if !list.blank?
        = render :partial  => "shared/mini_profile", :collection => list
      -else
        %span.comments= "Not Found"

  