= f.label :Parent, :class => "blog_labels"
= f.select :parent_id, SiteContent.all.map{|s| [s.name, s.id]},{:include_blank => true}
= f.label :Name, :class => "blog_labels"
= f.text_field :name, :title => "Name", :class => "blog_fields"
%br= f.label :Content, :class => "blog_labels"
%br= f.cktext_area :content, :toolbar => 'Easy', :width => '525px', :height => '350px', :class => "blog_fields"