= semantic_form_for(current_user, :url => registration_path(current_user), :html => { :method => :put }) do |f|
  = rounded_med_corner(:id => "change_password", :title => "Password") do
    = f.semantic_errors :state
    = f.inputs do
      %div{:class => cycle(:row_light2, :row_dark2)}
        = f.input :current_password
      %div{:class => cycle(:row_light2, :row_dark2)}
        = f.input :password, :as => :password ,:label => 'New Password'
      %div{:class => cycle(:row_light2, :row_dark2)}
        = f.input :password_confirmation, :as => :password
  %button.buttons{:type => "submit"}
    = image_tag('change-password.png')