= semantic_form_for(current_user, :url=> user_path(current_user)) do |f|
  = rounded_med_corner(:id => "change_password", :title => "Password") do
    = f.semantic_errors :state
    = f.inputs do
      = f.input :current_password, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
      = f.input :password, :as => :password , :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
      = f.input :password_confirmation, :as => :password, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
  %button.buttons{:type => "submit"}
    = image_tag('change-password.png')