= devise_error_messages!
%h2 Password
= semantic_form_for(current_user, :url => registration_path(current_user), :html => { :method => :put }) do |f|
  = f.semantic_errors :state
  = f.inputs do
    = f.input :current_password
    = f.input :password, :as => :password ,:label => 'New Password'
    = f.input :password_confirmation, :as => :password
  = f.commit_button :label => "Password Change"