= semantic_form_for(current_user, :url=> user_path(current_user), :validate=> true) do |f|
  = rounded_med_corner(:id => "change_password", :title => "Password") do
    = f.semantic_errors :state
    = f.inputs do
      = f.input :current_password, formtastic_zebra2
      = f.input :password, formtastic_zebra2(:as => :password)
      = f.input :password_confirmation, formtastic_zebra2(:as => :password)
  %button.buttons{:type => "submit"}
    = image_tag('change-password.png')