- rounded_med_corner(:id => "notifications", :title => "Notifications") do
  = semantic_form_for @profile do |a|
    = a.semantic_fields_for :notification_control do |p|
      %table{:name => "notification_table"}
        %tr
          %td
            = p.label "Notification"
          %td
            = p.label "Email Notification"
          %td
            = p.label "Message Notification"
        - User::NOTIFICATION_FIELDS.each do |x|
          %tr
            %td= p.label x
            - f=@profile.notification_control.send("#{x}")
            %td
              = p.check_box(x,{:multiple => true, :checked => (true if [1, 2].include?(f))},'e',nil)
            - if(x!='message' && x!='blog_comment' && x!='profile_comment')
              %td= p.check_box x,{:multiple => true, :checked => (true if [1, 3].include?(f))}, 'm', nil
            - else
              %td -
      = a.commit_button 'Update Notification'
