%tr
  = f.hidden_field(:permission_field)
  %td
    = permission.permission_field.to_s.titleize
  %td
    = f.radio_button(:permission_type, "Myself")
  %td
    = f.radio_button(:permission_type, "Friends")
  %td
    = f.radio_button(:permission_type, "Everyone")
