= f.input :first_referral_person_name, :as=> :string, :label=>"Referral Person Name", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
= f.input :first_referral_person_year, :as=> :string, :label=> "Referral Person Year", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
= f.input :second_referral_person_name, :as=> :string, :label=> "Referral Person Name", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
= f.input :second_referral_person_year, :as=> :string, :label=> "Referral Person Year", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
= f.input :third_referral_person_name, :as=> :string, :label=> "Referral Person Name", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
= f.input :third_referral_person_year, :as=> :string, :label=> "Referral Person Year", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
= f.input :additional_message, :as=>:text, :label=> "Additional Message", :input_html=>{:cols=>"200", :rows=>"10"}, :wrapper_html=>{:class=> "#{cycle(:row_dark, :row_light)}_large"}