- resource.build_profile if resource.profile.blank?
= rounded_corner(:title => "Sign-up Now", :class => "help") do
  = semantic_form_for(resource, :as => resource_name, :url => user_registration_path) do |f|
    = f.semantic_errors
    .edit_panel_profile
      = f.inputs do
        = f.input :login, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
        = f.input :email, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
        = f.input :password, :as => :password, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
        = f.input :password_confirmation, :as => :password, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
      = f.semantic_fields_for(:profile) do |p|
        = p.inputs do
          = p.input :first_name, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
          = p.input :middle_name, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
          = p.input :last_name, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
          = p.input :maiden_name, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
          = p.input :gender, :as => :select, :collection => SEX, :prompt => false, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
          = p.input :group, :as => :select, :collection => GROUPS.reject{|obj| GROUPS.first==obj}, :prompt => false, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
          = f.input :humanizer_answer, :label => resource.humanizer_question, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
          = f.hidden_field :humanizer_question_id
          %div{:class => cycle(:row_light, :row_dark)}
            .tos_text
              = check_box :user, :terms_of_service, {:checked => "checked"}
              = @user.errors[:terms_of_service]
              = link_to "Please Accept The Terms of Service", page_path('tos'), :class=>'new-window'
      = f.inputs do
        = render :partial=> "referral_form", :locals=> {:f=> f}      
      %button.buttons{:type => "submit"}
        = image_tag('sign-me-up.png')