= rounded_corner(:title => "Sign-up Now", :class => "help") do
  #login_form.edit_panel_profile
    = semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = f.inputs do
        = f.input :login, :as => :string
        = f.input :email, :as => :string
        = f.input :password, :as => :password
        = f.input :password_confirmation, :as => :password
      = semantic_fields_for(:profile) do |p|
        = p.inputs do
          = p.input :first_name, :as => :string
          = p.input :middle_name, :as => :string
          = p.input :last_name, :as => :string
          = p.input :maiden_name, :as => :string
          = p.input :gender, :as => :select, :collection => SEX, :prompt => false
          = p.input :group, :as => :select, :collection => GROUPS, :prompt => false
          = f.input :humanizer_answer, :label => @user.humanizer_question
          = f.hidden_field :humanizer_question_id
      = f.commit_button :label => "Sign Up"
      = render :partial => "devise/shared/links"