= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
  - rounded_corner(:title => 'Forgot your password?') do
    = f.inputs do
      = f.input :email, :wrapper_html => {:class => cycle(:row_light, :row_dark)}
      = f.submit "Send me reset password instructions"
    .remember_links
      = render :partial => "devise/shared/links"
