%ul.menu
  %li.menu_text
    = link_to "Home", homes_path
    |
  - if current_user
    %li.menu_text
      = link_to('My Profile', @p)
      |
    %li.menu_text
      = link_to 'My Blog', profile_blogs_path(@p)
      |
    %li.menu_text
      = link_to 'My Polls', profile_polls_path(@p)
      |
    %li.menu_text
      = link_to 'My Friends', profile_friends_path(@p)
      |
    %li.menu_text
      = link_to 'My Messages', profile_messages_path(current_user.profile)
      = message_count
    - if @is_admin
      %li.menu_text
        |
        = link_to('Admin', admin_home_index_path())
.logout_container
  = link_to image_tag(set_icon(current_user.profile,'small_20')), homes_path
  %span.menu_text= @p.full_name()
  = link_to 'Edit Account', edit_account_profile_path(current_user.profile)
  = link_to image_tag('edit.png', :title => "Edit Profile", :class => "img01"), edit_profile_path(current_user.profile) if current_user.profile
  = link_to "Edit Profile", edit_profile_path(current_user.profile) if current_user.profile
  = link_to(image_tag("logout.png", :title=>"Logout", :align=>"top"), destroy_user_session_path ,:class=>"logoutuser")
  = link_to('Logout', destroy_user_session_path)

