%ul.menu
  %li.menu_text
    = link_to "Home", home_path
    |
  - if @p
    %li.menu_text
      = link_to('My Profile', @p)
      |
    %li.menu_text
      = link_to 'My Blog', profile_blogs_path(@p)
      |
    %li.menu_text
      = link_to 'My Polls', profile_polls_path(@p)
      |
    %li.menu_text
      = link_to 'My Friends', network_profile_path(@p)
      |
    %li.menu_text
      = link_to 'My Messages', profile_messages_path(@p)
      = message_count
      |
    - if @is_admin
      %li.menu_text |
      %li.menu_text
        = link_to('Admin', admin_home_path)
.logout_container
  = icon(@p, :small_20, :align => :top) unless @p.blank?
  %span.menu_text= @p.full_name
  = link_to 'Edit Account', edit_account_profile_path(@p) if @p
  = link_to image_tag('edit.png', :title => "Edit Profile", :class => "img01"), edit_profile_path(@p) if @p
  = link_to "Edit Profile", edit_profile_path(@p) if @p
  = link_to(image_tag("logout.png", :title=>"Logout", :align=>"top"), logout_path ,:class=>"logoutuser")
  = link_to('Logout', logout_path)
