- if @show_profile_side_panel
  = render :partial => "profiles/bio"
  = render :partial => "shared/profile_action" unless me
  = render :partial => "shared/friends_list"
- else
  - if current_user.blank?
    = render :partial => "devise/sessions/login"
    = render :partial => "devise/sessions/login_with_other"
  - unless @hide_panels
    = render "profiles/members", :members => Profile.new_member, :type => "Newest Members"
= render :partial => "profiles/find_batch_details" if @p && !@hide_panels
- if @event_panel
  = render :partial => "admin/events/lsidebar"

:javascript
  show_gallery();