= rounded_corner(:size => :small, :title => 'Profile Actions') do
  .profile_div
    .profile_links
      %span{:id => "spinner_#{@profile.id}", :style => "display: none;"}= image_tag('spinner.gif')
      %div= render "homes/friend_status", :profile => @profile
      %div= link_to 'Direct Message', new_profile_message_path(@profile)
      %div= link_to('Read My Blogs', profile_blogs_path(@profile))
      %div= link_to('See My Polls', profile_polls_path(@profile))
 
 
