- unless @hide_panels
  = render :partial=>'profiles/featured'
  = render :partial=>'shared/search_by_keyword', :profile=>@profile if !current_user.blank?
  = render :partial => 'profiles/greets' if @p
  = render 'blogs/tag_clouds' if @p
  = render 'blogs/archives' if @p
- if @event_panel
  = render :partial => "admin/events/rsidebar"