= rounded_corner(:title => 'Birthdays') do
  - birthdays = Profile.birthdays
  - birthdays.keys.sort.each do |month|
    %b= Date::MONTHNAMES[month]
    %ul#student_check_list
      - birthdays[month].each do |b|
        %li
          = b.date_of_birth.to_formatted_s(:rfc822)
          =": #{b.full_name} (#{b.group})"
    .clear_div
= rounded_corner(:title => 'Anniversaries') do
  - anniversaries = Profile.anniversaries
  - anniversaries.keys.sort.each do |month|
    %b= Date::MONTHNAMES[month]
    %ul#student_check_list
      - anniversaries[month].each do |b|
        %li
          = b.anniversary_date.to_formatted_s(:rfc822)
          =": #{b.full_name} (#{b.group})"
    .clear_div