= rounded_corner(:title => "Invite Batchmates") do
  .edit_panel_profile
    = form_for [@profile,@invitation] do |f|
      .row_light_large
        = f.label 'Enter a list of email addresses separated by commas (,)',:class=>"label_margin"
        = f.text_area (:emails, :title => "Comma Separated List of Emails", :class=>"text_area")
      .invitation_error=  raw@error
      .feedback_btn_container
        %button.buttons{:type => "submit"}
          = image_tag('submit.png')