.widget_large
  %span.widget_lrg_top
  %h3.blog_head
    = link_to image_tag(set_icon(poll.profile,'small')), profile_path(poll.profile)
    = link_to (poll.question),profile_poll_path(poll.profile, poll)
    - if @p && me(poll.profile)
      = link_to image_tag('cancel.png', :title => "Close poll"), poll_close_profile_poll_path(poll.profile, poll) unless poll.poll_close?
      = link_to image_tag('edit.png', :title => "Edit poll"), edit_profile_poll_path(poll.profile, poll) if poll.can_edit?
      = link_to image_tag('delete.png', :title => "Delete poll"), profile_poll_path(poll.profile, poll), :method => :delete
    .created_date
      Posted by
      =poll.profile.full_name
      at
      =poll.created_at.to_date.to_formatted_s(:rfc822)
  .poll_text
    - if !@p || (poll.responded? current_user.profile)
      = render :partial => 'polls/poll_response', :locals =>{:poll => poll}
    - else
      #poll_errors[poll]
        = semantic_form_for(:poll) do |f|
          = f.semantic_fields_for(:poll_options) do |form|
            = render "polls/option" , :y=> form, :poll => poll
          %button.buttons{:type => "submit"}
            = image_tag "vote.png" , :url=> votes_path, :class=> "vote", :type=>'POST'
      .spinner[poll]= image_tag('spinner.gif')
  %span.widget_lrg_btm