#column_l
  %h2.page_title
    = @polls.first.profile.full_name
    's polls
    = link_to image_tag('add.png',:title=>"Create New poll"),new_poll_path(@poll)
    -if @polls.empty?
      .widget_large
        .comments
          = @profile.full_name
          has no polls .
        %span.widget_lrg_btm
    - else
      = render :partial => 'polls/poll', :collection=>@polls
    .clear_div
    = will_paginate @polls