- blog ||= feed_item.item
%div{:id => "feed_item_#{feed_item.id}"}
  .comments
    %img{:alt => "User Photo Icon", :src => "/images/blog.gif", :title => "User Photo Icon"}
    %strong
      = link_to h(blog.profile.full_name), blog.profile
      blogged #{time_ago_in_words blog.created_at} ago
    %br
    = link_to (blog.title), profile_blog_path(blog.profile, blog)
  = x_feed_link(feed_item) if me