.widget_complete
  %span.widget_complete_top
  %h3.blog_head.event_head_width New Album
  .blog_text
    = form_for @album do |f|
      Name
      = f.text_field :name
      Description
      = f.text_area :description
      set as blurb
      = check_box_tag("album[set_as_blurb]", value = "1", checked = false)
      .blog_btn_container
        %button.buttons{:type => "submit"}
          = image_tag("save.png")
  %span.widget_complete_btm
