= semantic_form_for @album do |f|
  = rounded_corner(:title => @title, :id => "upload_photo") do
    = f.inputs do
      = f.input :name
      = f.input :description
      = f.input :set_as_blurb ,:as=>:radio
    = f.commit_button
    %button.buttons{:type => "submit"}
    = image_tag("save.png")
