= semantic_form_for @album, :html => { :multipart => true } do |f|
  = rounded_corner(:title => "New Photo Upload", :id => "upload_photo") do
    = f.inputs do
      = f.input :name, :label => "Album Name", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    = f.semantic_fields_for(:photos) do |p|
      = p.inputs do
        = p.input :image, :label => "Upload your Image (<=5Mb)", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
        = p.input :caption, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
    %button.buttons{:type => "submit"}
      = image_tag("save.png")
= link_to "Create album by Facebook", facebook_album_albums_path
