.widget_complete
  %span.widget_complete_top
  %h3.blog_head.event_head_width New Album
  .blog_text
    = semantic_form_for @album do |f|
      = f.inputs do
        = f.input :name, :label => "Album Name"
        = f.input :description
      .album_text
        = label_tag "set_as_blurb"
        &nbsp
        = check_box_tag("album[set_as_blurb]", value = "1", checked = false)
      .blog_btn_container
        %button.buttons{:type => "submit"}
          = image_tag("save.png")
  %span.widget_complete_btm
