.widget_complete
  %span.widget_complete_top
  %h3.album_header
    MAASS Albums
    .forum_links
      = link_to "Fetch Albums From Facebook", facebook_album_albums_path
      |
      = link_to "Create Album Manually", new_album_path
  - @albums.each do |a|
    .album_pic_panel
      %h3.album_head
        = link_to(a.name, album_path(a))
        = link_to(image_tag('delete.png'), album_path(a), :method =>:delete)
        = link_to(image_tag('edit.png'), edit_album_path(a))
      .album_img_wrap
        = link_to(image_tag(a.photos.first.image.url('original'), :width => 160, :height => 115), album_path(a)) if !a.photos.blank?
  %span.widget_complete_btm
