.widget_complete
  %span.widget_complete_top
  %h3.blog_head.event_head_width
    Announcements
    = link_to image_tag('add_new_post.png', :title=>"Create New Announcement", :class=>"add_new_post2"), new_admin_announcement_path
  %table.announcements.comments
    %tr
      %th Message
      %th Start
      %th End
    - for announcement in @announcements
      %tr
        %td= announcement.message
        %td= announcement.starts_at.to_s(:rfc822)
        %td= announcement.ends_at.to_s(:rfc822)
        %td= link_to image_tag('edit.png', :title => "Edit Announcement"),  edit_admin_announcement_path(announcement)
        %td= link_to image_tag('delete.png', :title => "Delete Announcement"), admin_announcement_path(announcement), :method => :delete
  .clear_div
  %span.widget_complete_btm
