-user = profile.user
-relation = Friend.check_relation(current_user.profile.id, profile.id)
-if relation == "friend"
  = link_to("Stop Being Friends", profile_path(profile, :commit => "stop follow"), :method => :put, :confirm => 'Are You Sure')
-elsif relation == "following"
  = link_to("Stop Following", profile_path(profile, :commit => "stop follow"), :method => :put, :confirm => 'Are You Sure')
-elsif relation == "follower"
  = link_to("Be Friends", profile_path(profile, :commit => "make friend"), :method => :put)
  %br
  = link_to("Stop Follower", profile_path(profile, :commit => "stop follow"), :method => :put, :confirm => 'Are You Sure')
-else
  = link_to("Start Following", profile_path(profile, :commit => "add following"), :method => :put)

