- current_profile = current_user.profile
- if current_profile.friends_with?(profile)
  = link_to("Stop Being Friends", profile_friendship_path(profile), :method => :delete, :confirm => 'Are You Sure')
- elsif current_profile.follows?(profile)
  = link_to("Stop Following", profile_friendship_path(profile), :method => :delete, :confirm => 'Are You Sure')
- elsif current_profile.is_followed_by?(profile)
  = link_to("Be Friends", profile_friendship_path(profile), :method => :put)
  %br
  = link_to("Stop Follower", profile_friendship_path(profile), :method => :delete, :confirm => 'Are You Sure')
- else
  = link_to("Start Following", profile_friendship_path(profile), :method => :post)
