%div{:id => "friend_status_#{profile.id}"}
  - current_profile = current_user.profile
  - if current_profile.friends_with?(profile)
    = link_to("Stop Being Friends", '#',:onclick =>"if(confirm('Are you sure?')){friend_status(#{profile.id}, 'DELETE')}")
  - elsif current_profile.follows?(profile)
    = link_to("Stop Following", '#', :onclick =>"if(confirm('Are you sure?')){friend_status(#{profile.id}, 'DELETE')}")
  - elsif current_profile.is_followed_by?(profile)
    = link_to("Be Friends", '#', :onclick =>"friend_status(#{profile.id}, 'PUT')")
    %br
    = link_to("Stop Follower", '#', :onclick =>"if(confirm('Are you sure?')){friend_status(#{profile.id}, 'DELETE')}")
  - else
    = link_to("Start Following", '#', :onclick =>"friend_status(#{profile.id}, 'POST')")
