- if @pictures.blank?
  .comments
    = SITE_NOT_RECORD_MSG
- else
  #gallery.content
    #controls.controls
    #loading.loader
    #slideshow.slideshow
    #caption.embox
  #thumbs.navigation
    %ul.thumbs.noscript
      - @pictures.photos.each do |f|
        %li
          %a.thumb{:href => f.source}
            = image_tag(f.source, :alt => @pictures.name, :width => 75, :height => 75)
          .caption
            .image-title
              - f.comments.each do |c|
                = "#{c.from.name} :- #{c.message}"
                %br
:javascript
  gallery();

