%h3 Work Info
%table
  %tr
    %th Company Name
    %th Industry
    %th Occupation
    %th Job Description
    %th Company Website
  -@work_info.each do |x|
    %tr
      %td{:width => "70px"}= x.company_name
      %td{:width => "70px"}= x.industry
      %td{:width => "70px"}= x.occupation
      %td{:width => "160px"}= x.job_description
      %td{:width => "160px"}= link_to x.company_website, x.company_website if x.company_website
