- cache 'blurb' do
  = render :partial => 'blurb'
.widget_large
  %span.widget_lrg_top
  .blurb_image_div
    .blurb_image_head
      %div
        = SITE_FULL_NAME
    .blurb_image_footer
      %div
        = link_to("About The School","#")
        |
        = link_to("Feedback","#")
        |
        = link_to("Contact Us","#")
        |
        = link_to("Credits","#")
        |
        = link_to("Forums","#")