- content_for :head do
  = auto_discovery_link_tag(:rss, "http://#{SITE}/latest_comments.rss", :title=>"Latest Comments")
  = auto_discovery_link_tag(:rss, "http://#{SITE}/newest_members.rss", :title=>"Newest Members")
- if @blurb_album.photos.blank?
  = render 'blurb'
- else
  .widget_large
    %span.widget_lrg_top
    .blurb_image_div
      .blurb_image_head
        = SITE_FULL_NAME
      .blurb_image_footer
        = link_to("About The School", page_path(:about_us))
        |
        = link_to("Feedback",feedback_path)
        |
        = link_to("Contact Us", page_path(:contact))
        |
        = link_to("Credits", page_path(:credits))
        |
        = link_to("Forums", forums_path)
      .slideshow
        - @blurb_album.photos.each do |photo|
          = raw image_tag(photo.image.url,:class=>"image_on_blurb")
    %span.widget_lrg_btm
- if @p
  - if @nomination.new_record?
    = render 'nominations/form', :nomination => @nomination
  - else
    = render 'nominations/show', :nomination => @nomination
- unless @home_data.blank?
  - @home_data.each do|d|
    - if d.class.name == 'Event'
      = render 'shared/event', :event => d
    - elsif d.class.name == 'Poll'
      = render 'polls/poll', :home_page_blog => true, :poll => d
    - else
      = render 'blogs/blog', :blog => d
  .clear_div
  = will_paginate @home_data

:javascript
  show_blurb_panel();
