- content_for :head do
  = auto_discovery_link_tag(:rss, "http://#{SITE}/latest_comments.rss", :title=>"Latest Comments")
  = auto_discovery_link_tag(:rss, "http://#{SITE}/newest_members.rss", :title=>"Newest Members")
.widget_large
  %span.widget_lrg_top
  .blurb_image_div
    .blurb_image_head
      %div
        = SITE_FULL_NAME
    .blurb_image_footer
      %div
        = link_to("About The School","#")
        |
        = link_to("Feedback","#")
        |
        = link_to("Contact Us","#")
        |
        = link_to("Credits","#")
        |
        = link_to("Forums", forums_path)
    .slideshow
      - @blurb_image.each do |photo|
        = raw image_tag(photo.image.url,:class=>"image_on_blurb")
  %span.widget_lrg_btm
- if @p
  - unless DISABLE_NOMINATION_FORM
    - if @nomination.new_record?
      = render :partial => 'nominations/form', :locals => {:nomination => @nomination}
    - else
      = render :partial => 'nominations/show', :locals => {:nomination => @nomination}
- unless @home_data.blank?
  - @home_data.each do|d|
    - if d.class.name == 'Event'
      = render :partial => 'shared/event', :locals =>{:event => d}
    - elsif d.class.name == 'Poll'
      = render :partial => 'polls/poll', :locals => {:home_page_blog => true,:poll => d}
    - else
      = render :partial => 'blogs/blog', :locals => {:blog => d}
  .clear_div
  = will_paginate @home_data

:javascript
  show_blurb_panel();