.widget_large
  %span.widget_lrg_top
  .blurb_image_div
    .blurb_image_head
      %div
        = SITE_FULL_NAME
    .blurb_image_footer
      %div
        = link_to("About The School","#")
        |
        = link_to("Feedback","#")
        |
        = link_to("Contact Us","#")
        |
        = link_to("Credits","#")
        |
        = link_to("Forums", forums_path)
    .slideshow
      - @blurb_image.each do |photo|
        = raw image_tag(photo.image.url,:class=>"image_on_blurb")
    %span.widget_lrg_btm
- if @p
  - if @nomination.new_record?
    = render :partial => 'nominations/form', :locals => {:nomination => @nomination}
  - else
    = render :partial => 'nominations/show', :locals => {:nomination => @nomination}
- unless @home_data.blank?
  - @home_data.each do|d|
    - if d.class.name == 'Event'
      = render :partial => 'shared/event', :locals =>{:event => d}
    - elsif d.class.name == 'Poll'
      = render :partial => 'polls/poll', :locals => {:home_page_blog => true,:poll => d}
    - else
      = render :partial => 'blogs/blog', :locals => {:blog => d}
  .clear_div
  = will_paginate @home_data