%br
= link_to gravatar_image_tag(@user.email, :gravatar => { :size => 50 }), home_path(@user.id)
%br
= full_name(@profile)
%br
%h3 Profile Actions
%br
= render 'friend_link', :profile => @profile
= link_to("See My Polls",polls_home_path(@user))
%br
= link_to("See My Blogs", blogs_path(@profile))
= render 'status'  if !@profile.status_message.blank?
= render 'personal_info'
= render 'work_info' if !@profile.works.blank?
= render 'education_info' if !@profile.educations.blank?
= render 'polls/list'