%h2 Mansinghites'Alumni Association
= render 'mini_profile', :profile => @profile
= render 'status'  if !@profile.status_message.blank?
= render 'personal_info'
= render 'work_info' if !@profile.works.blank?
= render 'education_info' if !@profile.educations.blank?
= render 'polls/list'