%h2 Mansinghites'Alumni Association
%p
= link_to gravatar_image_tag(@user.email, :gravatar => { :size => 50 }), home_path(@user.id)
= [ @user.first_name, @user.middle_name, @user.last_name ].join(" ")
= render 'status' ,:local =>{:p =>@p} if !@p.status_message.blank?
= render 'personal_info' ,:local =>{:p =>@p}
= render 'work_info' ,:local =>{:work_info =>@p.works}
= render 'education_info' ,:local =>{:education_info =>@p.educations}
