- rounded_corner(:size => :small, :title => 'Login With...') do
  = link_to image_tag('twitter_32.png', :title => "SignIn With Twitter"), "/auth/twitter"
  = link_to image_tag('facebook_32.png', :title => "SignIn With Facebook"), "/auth/facebook"
  = link_to image_tag('linkedin_32.png', :title => "SignIn With LinkedIn"), "/auth/linked_in"
  = link_to image_tag('yahoo_32.png', :title => "SignIn With Yahoo"), "/auth/yahoo"
  = link_to image_tag('gmail_32.jpeg', :title => "SignIn With GMail"), "/auth/google_apps"