= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  = rounded_corner(:title => 'Login') do
    = f.inputs do
      = f.input :email, formtastic_zebra
      = f.input :password, formtastic_zebra(:as => :password)
    - if devise_mapping.rememberable?
      .div_field
        = check_box_tag 'remember_me', 1, false, :name => 'user[remember_me]', :class => "checkbox"
        %label.label_small{:for => "remember"} Remember me
    .login_btn_container2
      %button.buttons{:type => "submit"}
        = image_tag('login.png')
    .remember_links
      = render :partial => "devise/shared/links"