= rounded_corner(:title => 'Birthdays') do
  - profiles = Profile.greetings("date_of_birth")
  - profiles.each do |profile|
    %table
      %tr
        %td= profile.date_of_birth
        %td= " : " + profile.full_name
        %td= "(#{profile.group})"
        %td
          %b= Date::MONTHNAMES[profile.date_of_birth.month]
= rounded_corner(:title => 'Anniversaries') do
  - profiles = Profile.greetings("anniversary_date")
  - profiles.each do |profile|
    %table
      %tr
        %td= profile.anniversary_date
        %td= " : " + profile.full_name
        %td= "(#{profile.group})"
        %td
          %b= Date::MONTHNAMES[profile.anniversary_date.month]