= rounded_corner(:title => "Admin Actions", :size => 'lrg') do
  .admin_class
    .clear_div
    %div= link_to "Events", admin_events_path
    %div= link_to "Feedbacks", feedbacks_path
    %div= link_to "Blogs", blogs_admin_home_path(@is_admin)
    %div= link_to "Greetings", events_path
    %div= link_to "Student Checks", student_checks_path
    %div= link_to "Announcement", admin_announcements_path
    %div= link_to "Users", profiles_path
    %div= link_to "Site Content", admin_site_contents_path
    %div= link_to "Preferences", admin_preferences_path
    %div= link_to "Google Map Locations", google_map_locations_admin_home_path(@is_admin)
    %div= link_to "Photos", albums_path()
    %div= link_to "Blurb Images", "#"
    %div= link_to "Nomination Forms", nominations_path unless DISABLE_NOMINATION_FORM