- rounded_corner(:title => "Admin Actions", :size => 'lrg') do
  .admin_class
    .clear_div
    %div= link_to "Events", admin_events_path
    %div= link_to "Feedbacks", "#"
    %div= link_to "Blogs", "#"
    %div= link_to "Greetings", greetings_admin_home_path(@p)
    %div= link_to "Student Checks", "#"
    %div= link_to "Announcement", announcements_path
    %div= link_to "Users", profiles_path
    %div= link_to "Site Content", "#"
    %div= link_to "Preferences", "#"
    %div= link_to "Google Map Locations", "#"
    %div= link_to "Photos", "#"
    %div= link_to "Blurb Images", "#"
    %div= link_to "Nomination Forms", "#"
