.feedbacks
  = link_to image_tag('delete.png', :title => "Delete Feedback"), feedback_path(feedback), :method => :delete
  From:
  - if feedback.profile.blank?
    = feedback.name
  - else
    = link_to feedback.name, profile_path(feedback.profile)
  %br
  When:
  = time_ago_in_words feedback.created_at
  ago
  %br
  %strong
    Subject:
    = feedback.subject
    %br
    = feedback.message
  