= rounded_corner(:title => 'Give us Feedback') do
  .edit_panel_profile
    = semantic_form_for(@feedback) do |form|
      = form.inputs do
        - if !@p
          = form.input :name
          = form.input :email
        = form.input :subject
        = form.input :message
        .blog_btn_container
          %button.buttons{:type => "submit"}
            = image_tag("submit.png")