= form_for(:house_name,:url => update_house_name_admin_preferences_path,:html =>{:method => :put}) do |f|
  - @house_names.each_with_index do |house_name, index|
    = f.fields_for "house_names[#{index}]",house_name do |p|
      = hidden_field_tag "house_name[house_names][#{index}][id]" ,house_name.id
      .row_complete
        = p.text_field :name, :title => "Title",:class => "text_field"
  %button.buttons{:type => "submit"}
    = image_tag('Update.png')