= javascript_include_tag 'jquery.fileupload-ui','jquery.fileupload','jquery.fileupload-uix'
= stylesheet_link_tag 'jquery.fileupload-ui','jquery-ui-1.8.7.custom'
.forum_links= link_to "Back To Albums", albums_path()
#file_upload
  .widget_complete
    %span.widget_complete_top
    %h3.blog_head.event_head_width= "Upload #{@album.name}'s Photos"
    .blog_text
      = semantic_form_for @album, :html => { :class => "upload", :multipart => true, :load_photo =>  upload_photo_album_path(@album) , :delete_url => album_photos_path(@album)} do |f|
        = f.inputs do
          = f.input :name
          = f.input :description
        .album_text
          = label_tag "set_as_blurb"
          &nbsp
          = check_box_tag('set_as_blurb', value = "1", checked = false)
        = f.semantic_fields_for :photo do |p|
          = p.inputs do
            = p.input :image, :as => :file, :input_html => {:multiple => true, :name => 'photo[image]', :class => "large_text_box"}
        %button.buttons{:type => "submit"}
          = image_tag("save.png")
    %span.widget_complete_btm
  .widget_complete
    %span.widget_complete_top
    %h3.blog_head.event_head_width
      .file_upload_buttons.hide_info
        %button.file_upload_start
          Start All
        %button.file_upload_cancel
          Cancel All
        %button.file_download_delete
          Delete All
      .file_upload_overall_progress
        %div{:style=>"display:none;"}
    %table{:class=>"files"}
      %tr{:class=>"file_upload_template hide_info"}
        %td{:class=>"file_upload_preview"}
        %td{:class => "file_caption"}
        %td{:class=>"file_name"}
        %td{:class=>"file_size"}
        %td{:class=>"file_upload_progress"}
          %div
        %td{:class=>"file_upload_start"}
          %button.buttons
            Start
        %td{:class=>"file_upload_cancel"}
          %button.buttons
            Cancel
      %tr{:class=>"file_download_template hide_info"}
        %td{:class=>"file_download_preview"}
        %td{:class=>"file_name"}
          %a
        %td{:class=>"file_size"}
        %td{:class=>"file_download_delete", :colspan=>"3"}
          %button.buttons
            Delete
        %td{:class => 'spinner'}
          = image_tag('spinner.gif')
      = render 'album_photo' , :photos => @album.photos
    %span.widget_complete_btm
:javascript
  show_album_photo_uploader();
