.widget_complete
  %span.widget_complete_top
  %h3.blog_head.event_head_width
    = link_to image_tag(set_icon(@p,'small')), @p
    = sanitize(photo.caption)
    = link_to image_tag('crop.png', :title => "Crop the image"),edit_profile_photo_path(photo.profile, photo)
    = link_to image_tag('delete.png', :title => "Delete Image"),profile_photo_path(photo.profile, photo),:method => :delete
    .created_date
      Posted by #{photo.profile.full_name} at #{photo.updated_at.to_date.to_formatted_s(:rfc822)}
  = image_tag(photo.url_for_size('original'))
  %span.widget_complete_btm
