= semantic_form_for [@p, @photo],:html => { :multipart => true } do |f|
  = rounded_corner(:title => @title.titleize, :id => "upload_photo") do
    = f.inputs do
      = f.input :image, :label => "Upload your Icon (<=5Mb)", :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
      = f.input :caption, :wrapper_html => {:class => cycle(:row_light2, :row_dark2)}
      = f.hidden_field :set_as_blurb
    %button.buttons{:type => "submit"}
      = image_tag("save.png")
