= rounded_corner(:title => "Nominate yourself for AGM & COMMITTEE ELECTIONS ") do
  .edit_panel_profile
    = form_for([@p,@nomination]) do |p|
      %div{:class => cycle(:row_light, :row_dark)}
        %label.label_margin Name
        %label.label_margin
          = @p.full_name
      %div{:class => cycle(:row_light, :row_dark)}
        %label.label_margin Batch
        %label.label_margin
          = @p.group
      %div{:class => cycle(:row_light, :row_dark)}
        = p.label 'Contact details', :class=>"label_margin"
        = p.text_field :contact_details, :class=>"text_field"
      %div{:class => cycle(:row_light, :row_dark)}
        = p.label 'Occupation details', :class=>"label_margin"
        = p.text_field :occupational_details, :class=>"text_field"
      .row_light_large
        = p.label 'What is the reason for your nomination ?'
        = p.text_area (:reason_for_nomination, :class=>"text_area")
      .row_dark_large
        = p.label 'What difference can you make to the association ?'
        = p.text_area (:suggestions, :class=>"text_area")
      %div{:class => "#{cycle(:row_light, :row_dark)} tag"}
        %span
          *Applicant must be based in Jaipur.
      %button.buttons{:type => "submit"}
        = image_tag("save.png")