.admin_panel_main_links
  = link_to "Events", admin_events_path
  |
  = link_to "Feedbacks", "#"
  |
  = link_to "Blogs", "#"
  |
  = link_to "Greetings", "#"
  |
  = link_to "Student Checks", student_checks_path
  |
  = link_to "Announcement", admin_announcements_path
  |
  = link_to "Users", "#"
  |
  = link_to "Site Content", "#"
  |
  = link_to "Preferences", "#"
  |
  = link_to "Google Map Locations", "#"
  |
  = link_to "Photos", "#"
  |
  = link_to "Blurb Images", "#"
