- if user_signed_in?
  |
  = link_to "Home", homes_path
  |
  = link_to "My Blogs", blogs_path
  |
  = link_to "My Profile", "#"
  |
  = link_to "Edit Profile", edit_path
  |
  = link_to "Edit Account", edit_account_path(current_user.id)
  |
  = link_to "Sign out", destroy_user_session_path
  |
- else
  = link_to "Sign In", new_user_session_path
  |
  = link_to "Sign Up", new_user_registration_path
  |

