<!DOCTYPE html>
<html>
<head>
  <title>Maass</title>
  <%= stylesheet_link_tag 'jquery-ui-1.8.7.custom','formtastic','formtastic_changes' %>
 <%= javascript_include_tag  'jquery-1.4.4.min','jquery-ui-1.8.7.custom.min', 'application', 'status_button','clusterer','controls','dragdrop','effects','geoRssOverlay','markerGroup','prototype','rails','wms-gs','ym4r-gm','rs_maps' %>
  <%= csrf_meta_tag %>
</head>
<% if user_signed_in? %>
   <%= link_to "Sign out", destroy_user_session_path %>
   <%= link_to "Edit Profile", edit_path %>
   <%= link_to "Edit Account", edit_account_path(current_user.id) %>
 <%else%>
   <%= link_to "Sign In", new_user_session_path %>
   <%= link_to "Sign Up", new_user_registration_path %>
<% end %>
<body>

<%= yield %>
  <%#= "welcome" %>

  <%= flash[:notice] %>

</body>
</html>
