%html
  %head
    %link{:href => "/favicon.ico", :rel => "shortcut icon" }
    %title
      = @title || (SITE_NAME + ": " + SITE_FULL_NAME)
    = stylesheet_link_tag "/maass/stylesheets/application",'jquery-ui-1.8.7.custom','formtastic','formtastic_changes','skin','thickbox','galleriffic','jcarousel'
    = javascript_include_tag 'jquery','jquery.min','jquery-ui.min','application','rails','rs_maps', 'jquery-ui-timepicker-addon', 'jquery.jcrop.min', 'jquery.cycle.all', 'jquery.cycle', 'jquery.cycle.lite','jquery.jcarousel','jquery.jcarousel.min','thickbox','jquery.galleriffic'
    = javascript_include_tag :ckeditor
    = csrf_meta_tag
  %body
    .main_container
      = render :partial=> "layouts/header"
      .content_container
        #info.login_container
          - if current_user.blank?
            %span.welcome_msg
              Welcome to #{SITE_FULL_NAME}.
          - else
            = render 'shared/header_tab'
        .clear_div
        .admin_panel
          = render :partial => "admin/shared/admin_header" if @show_admin_header
        .side_panel
          = render :partial => "shared/lsidebar"
          = yield :left_side_panel
        .middle_panel
          = display_standard_flashes
          %span#main_container= yield
        .side_panel
          = render :partial => "shared/rsidebar"
          = yield :right_side_panel
      .clear_div
      .footer= render :partial => 'shared/footer'
      .clear_div
    .clear_div
    .btm_div
    = yield :bottom