%html
  %head
    %title
      = @title || 'Maass'
    = stylesheet_link_tag "/maass/stylesheets/application",'jquery-ui-1.8.7.custom','formtastic','formtastic_changes', 'application'
    = javascript_include_tag 'jquery.min','jquery-ui.min','application','rails', 'status_button','clusterer','geoRssOverlay','markerGroup','wms-gs','ym4r-gm','rs_maps'
    = include_tiny_mce_if_needed
    = csrf_meta_tag
  %body
  .main_container
    .header_container
      = render :partial=> "layouts/header"
    .content_container
      #info
        .login_container
          -if current_user.blank?
            %span
              .welcome
                = "Welcome to #{SITE_FULL_NAME}."
                =# render 'layouts/header'
          -else
            = render 'shared/header_tab'
      .clear_div
      .side_panel
        = render :partial => "shared/lsidebar"
        = yield :left_side_panel
      .middle_panel
        = #display_standard_flashes
        %span#main_container= yield
      .side_panel
        = render :partial => "shared/rsidebar"
        = yield :right_side_panel
      .clear_div
      .clear_div
    .clear_div
    .btm_div
    = yield :bottom

    