%h2 Permissions
= semantic_form_for @account do |a|
  = a.semantic_fields_for :permission do |p|
    %table{:name => "permission_table"}
      %tr
        %td
        %td
          = p.label "My_Self"
        %td
          = p.label "My_Friends"
        %td
          = p.label "Everyone"
      - User::PERMISSION_FIELDS.each { |x|
      %tr
        %td= p.label :permission_field, :value =>x
        %td
          = p.radio_button :pemission_type, "My Self", :checked => true
        %td
          = p.radio_button :permission_type, "My Friends"
        %td
          = p.radio_button :permission_type, "Everyone"
        - }
    = a.commit_button 'Update permissions'
