%hr
<center> <h2> Edit Account </h2> </center>
%hr
= render :partial => "accounts/set_permissions"
%hr
= render :partial => "accounts/notification"
%hr
= render :partial => "users/change_password"
%hr
= render :partial => "accounts/change_email"
%hr
= render :partial => "accounts/default_permission"
%hr
