<hr><center><h1> Accounts Edit</h1></center><br><hr>
<%= render :partial => "accounts/set_permissions"%><br><br><hr>
<%= render :partial => "accounts/notification"%><br><hr>
<%= render :partial => "users/change_password" %><br><hr>
<%= render :partial => "accounts/change_email" %><br><hr>
<%= render :partial => "accounts/default_permission"%><br><hr>


