= "#{@p.first_name} sent you a message."

= @message.body

To read this message, follow the link below:
= "http://#{SITE}#{reply_message_profile_message_path(@message.receiver,@message)}"

= render :partial => 'account_mailer/email_footer'